form {
  gap: 1.5rem;
  flex-wrap: wrap;
}

.input-title {
  flex: 15%;
  padding: 0.5rem;
}

.category {
  flex: 10%;
}

.input-author {
  flex: 15%;
}

.submit {
  flex: 5%;
  background: #0290ff;
  color: white;
  border: none;
}
